.hero {
  width: 100vw;
  height: 100vh;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.h1 {
  display: none;
}

.event {
  display: flex;
  justify-content: space-around;
}
 
.column {
  width: 20%;
  text-align: center;
}
 