.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/teamWhite.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    '. .    .'
    '. team .'
    '. text .';
}

@media all and (min-width: 839px) {
  .hero {
    grid-template-columns: 9.58% 9.84% 20.99% 2.55% 47.45% 9.58%;
    grid-template-rows: 12.9% 12% 6.5% 55% 12.9%;
    grid-template-areas:
      '. .    .    . .      .'
      '. logo .    . navbar .'
      '. .    .    . .      .'
      '. team team . text   .'
      '. .    .    . .      .';
  }
}

.logoLink {
  display: none;
}

@media all and (min-width: 839px) {
  .logoLink {
    display: block;
    grid-area: logo;
  }
}

.heroText {
  grid-area: text;
}

.animatedTeam {
  grid-area: team;
  margin-bottom: 0;
  max-height: 100%;
  max-width: 100%;
}

.window {
  width: 100vw;
  height: 48vh;
  background-image: url('../assets/teamColor.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.gutter {
  width: 100 vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    ' . events   . '
    ' . partners . '
    ' . contact  . ';
  padding: 6% 0% 3%;
}

@media all and (min-width: 839px) {
  .gutter {
    grid-template-columns: 9.58% 80.84% 9.58%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      '. events   .'
      '. partners .'
      '. contact  .';
  }
}

.events {
  grid-area: events;
}

.partners {
  grid-area: partners;
}

.contact {
  grid-area: contact;
}

.h1 {
  display: none;
}

.event {
  display: flex;
  justify-content: space-around;
}

.image_container {
  position: relative;
  text-align: center;
}

.images {
  width: 90%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 1.5em;
  overflow: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  width: 20%;
  text-align: center;
}
